.font-roboto{
    font-family: 'Roboto', sans-serif;
}
footer{
    display: flex;
    background: #000;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.form-signup{
    display: flex;
}
.form-control{
    width: 300px;
    border: 1px solid orange;
    background: transparent;
}
.form-btn{
    margin-left: 10px;
    border: 1px solid orange;
    background: orange;
    padding: 10px 15px;
}