.dssv tr td{
    border: 1px soid red;
    line-height: 30px; padding-left: 5px;
}
.dl td{
    background: rgb(150, 10, 10);
    color: white;
    border: 1px solid white !important;
    text-align: center;
    font-weight: bold;
}