.banggia{
    border: 1px soid red;
    line-height: 40px; padding-left: 5px;
}
.sp{
    background: rgb(238, 107, 7);
    color: white;
    border: 1px solid white !important;
    text-align: center;
    font-weight: bold;
}
.freeship{
    margin-left: 150px;
}
.giamgia{
    font-weight: bold;
    padding-left: 50px;
}
.giagoc{
    padding-left: 50px;
}
.ghichu{
    padding-left: 10px;
}