.doan-1{
    color: red;
    font-style: italic;
}
.doan-2{
    color: blue;
    font-style: italic;
}
.doan-3{
    color: green;
    font-style:italic;
}
span{
    color: brown;
    font-weight: bold;
}